<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <title>{% block title %}Pokémon Rivalry{% endblock %}</title>
  <link rel="stylesheet" href="/static/inter_fonts/inter.css">
  <link rel="stylesheet" href="/static/fontawesome-free-7.2.0-web/css/all.min.css">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
